<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="../elements/favicon.ico">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/static/scripts/actions.js"></script>
<title>Dashboard</title>

<div class="container"><br><br><br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <h1 class="display-6 text-center">Sign in</h1><br>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" id="sign_in_email" class="form-control">
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" id="sign_in_password" class="form-control">
                <div id="passwordHelp" class="form-text"></div>
            </div>
            <input onclick="user_sign_in()" value="Sign in" type="button" class="btn btn-primary mb-3">
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <h1 class="display-6 text-center">Sign up</h1><br>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" id="sign_up_email" class="form-control">
                <div id="signUpEmailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" id="sign_up_password1" class="form-control">
                <div id="signUpPassword1Help" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" id="sign_up_password2" class="form-control">
                <div id="signUpPassword2Help" class="form-text"></div>
            </div>
            <input onclick="user_sign_up()" value="Sign up" type="button" class="btn btn-primary mb-3">
        </div>
        <div class="col-2"></div>
    </div>
</div>


<div class="toast-container position-absolute p-3 bottom-0 end-0"  data-original-class="toast-container position-absolute p-3">
    <div id="toastShow" class="toast fade bg-success text-white" data-bs-delay="1500">
        <div id="toastMessage" class="toast-body"></div>
    </div>
</div>